extends layout

append css
  style
    .container {
      width: auto;
      max-width: 780px;
    }
    .form-horizontal .form-actions {
      padding-left: 300px;
    }

block content
  .container
    div
      | !{createErrorMessage(errors)}
      | !{createWarningMessage(warnings)}
      | !{createSuccessMessage(success)}

      block container
