extends layout

block content
  .container
    div
      | !{createErrorMessage(errors)}
      | !{createWarningMessage(warnings)}
      | !{createSuccessMessage(success)}

      block container

    hr
    footer
      p &copy; 2013
