extends layout

append css
  style
    .container {
      width: auto;
      max-width: 780px;
    }
    .form-horizontal .form-actions {
      padding-left: 0px;
      text-align: center;
    }

block content
  .container
    div
      | !{createMessage(error, 'alert-error')}
      | !{createMessage(warning)}
      | !{createMessage(success, 'alert-success')}

      block container
