extends container_layout

block container
  .hero-unit
    h1 Meeting Room Booking
    p &nbsp;
    p This is anode.js sample site.
    p &nbsp;
    a.btn.btn-primary.btn-large(href= "/sessions/new") please login!
