
<h1><%= title %></h1>
<div id= "login">
  <form action= "/login" method= "post">
    ID: <input type= "text"  name= "userID" value= "test"/> <br/>
    PASS: <input type= "text"  name= "password" value = "test"/>
    <input type= "submit" value= "login" />
  </form>
</div>

<%- contentFor('title') %>
<%= title %>
