extends container_layout

block container
  .hero-unit
    h1 Meeting Room Booking
    p &nbsp;
    p This is a service for node.js study.
    p Github:
      a(href= "https://github.com/m-nori/meeting_room_booking") https://github.com/m-nori/meeting_room_booking
    a.btn.btn-primary.btn-large(href= "/sessions/new") please login!
