doctype 5
html
  head
    meta(charset= "utf-8")
    title= title
    meta(name= "viewport", content= "width= device-width, initial-scale= 1.0")
    block css
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
      link(rel='stylesheet', href='/css/style.css')
  body
    block navbar
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container-fluid
            a.btn.btn-navbar(data-toggle= "collapse", data-target= ".nav-collapse")
              span.icon-bar
              span.icon-bar
            a.brand(href= "/") #{title}
            .nav-collapse.collapse
              p.navbar-text.pull-right
                - if (uid !== "")
                  a.navbar-link(href= "/sessions/#{uid}", data-method= "delete") logout
                -else
                  a.navbar-link(href= "/sessions/new") login
              ul.nav
                li#nav_home.active
                  a(href= "/bookings") Home
                li#nav_settings.dropdown
                  a.dropdown-toggle(href= "#", role= "button", data-toggle= "dropdown") Settings
                    b.caret
                  - if (uid !== "")
                    ul.dropdown-menu(role= "menu")
                      li
                        a(href= "/users/#{uid}/edit") Edit My Profile
                      - if (adminUser !== "")
                        li.divider
                        li
                          a(href= "/users") Users
                        li
                          a(href= "/rooms") Meeting Rooms

    div#wrap
      block content

    block footer
      div#footer
        p#footer_content Copyright &copy; 2013 m_nori

    block script
      script(src= "/js/lib/jquery-1.9.0.min.js", type= "text/javascript")
      script(src= "/js/lib/bootstrap.min.js", type= "text/javascript")
      script(src= "/js/application.js", type= "text/javascript")
