extends ../container_layout

append css
  style
    .login {
      text-align: right;
    }

block container
  form.form(action= "/sessions", method= "post")
    legend Please login

    .control-group
      label.control-label(for= "id") id
      .controls
        .input-prepend
          span.add-on
            i.icon-user
          input#id.span3(name= "id", type= "text", value= "#{id}")

    .control-group
      label.control-label(for= "password") password
      .controls
        .input-prepend
          span.add-on
            i.icon-lock
          input#password.span3(name= "password", type= "password", value= "#{password}")

    .login.span3
      button.btn.btn-primary(type= "submit") login

      div
        |new user?&nbsp;
        a(href= "/users/new") Click here to register
