extends ../container_layout

block container
  form.form(action= "/login", method= "post")
    legend Please login

    .control-group
      label.control-label(for= "id") id
      .controls
        .input-prepend
          span.add-on
            i.icon-user
          input#id.span2(name= "id", type= "text") #{id}

    .control-group
      label.control-label(for= "password") password
      .controls
        .input-prepend
          span.add-on
            i.icon-lock
          input#password.span2(name= "password", type= "password") #{password}

    button.btn.btn-primary(type= "submit") login

    div
      |new user?&nbsp;
      a(href= "/") Click here to register

