.control-group
  label.control-label(for= "email") email
  .controls
    .input-prepend
      span.add-on
        i.icon-user
      input#email.span3(name= "email", type= "text", value= "#{email}")

.control-group
  label.control-label(for= "password") password
  .controls
    .input-prepend
      span.add-on
        i.icon-lock
      input#password.span3(name= "password", type= "password")

.control-group
  label.control-label(for= "password_again") password(again)
  .controls
    .input-prepend
      span.add-on
        i.icon-lock
      input#password2.span3(name= "password2", type= "password")

.control-group
  label.control-label(for= "name") name
  .controls
    input#name.span4(name= "name", type= "text", value= "#{name}")

.control-group
  label.control-label(for= "group") group
  .controls
    input#group.span4(name= "group", type= "text", value= "#{group}")

.control-group
  label.control-label(for= "admin") admin
  .controls
    label.checkbox
      input#admin(name= "admin", type= "checkbox")
      |give admin rights
