extends ../container_layout

block container
  form.form-horizontal(action= "/users", method= "post")
    legend Input User Info

    include _form

    .form-actions
      button.btn.btn-primary(type= "submit") Submit
      | &nbsp;
      button.btn(type= "reset") Cancel

append script
  script
    var admin = "#{admin}";
    if (admin === 'on') {
      $("#admin").attr("checked", true);
    }
