extends ../container_layout

block container
  form.form-horizontal(action= "/users/create", method= "post")
    legend Input User Info

    .control-group
      label.control-label(for= "userID") userID
      .controls
        .input-prepend
          span.add-on
            i.icon-user
          input#userID.span2(name= "userID", type= "text")

    .control-group
      label.control-label(for= "password") password
      .controls
        .input-prepend
          span.add-on
            i.icon-lock
          input#password.span2(name= "password", type= "password")

    .control-group
      label.control-label(for= "password_again") password(again)
      .controls
        .input-prepend
          span.add-on
            i.icon-lock
          input#password_again.span2(name= "passwordAgain", type= "password")

    .control-group
      label.control-label(for= "name") name
      .controls
        input#name.span4(name= "name", type= "text")

    .control-group
      label.control-label(for= "group") group
      .controls
        input#group.span4(name= "group", type= "text")

    .control-group
      label.control-label(for= "admin") admin
      .controls
        label.checkbox
          input#admin(name= "admin", type= "checkbox")
          |give admin rights

    .form-actions
      button.btn.btn-primary(type= "submit") Submit
      | &nbsp;
      button.btn(type= "reset") Cancel
